form{
    height: 100%;
    width: 100%;
    display: inline-grid;
    inline-size: 25%;
    grid-gap: 5%;
    font-family: "Comic Sans MS";
    font-size: 1vw;
    color: Brown;
}
.required{
    color: orange;
}

button{
    width: 20%;
}
select, textarea {
    width: 100%;
}

.field{
    display: flex;
}

label{
    margin-right: 20px;
}

.buttonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
