<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formdata</title>
</head>
<body>
<p>The content of the form</p>
<p> Name: <%= user_name %></p>
<p> Email: <%= user_mail %></p>
<p> Message: <%= user_message %> </p>

</body>

</html>