<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jsondata</title>
</head>
<body>
<p>The content of the json form</p>
<p> Name: <%- JSON.stringify(user_name) %> </p>
<p> Email: <%- JSON.stringify(user_mail) %> </p>
<p> Message: <%- JSON.stringify(user_message) %> </p>
</body>

</html>